{% extends "base.html" %}
{% block content %}
<div class="row-fluid post" style="margin-top: 50px">
    <div class="span12">
        <h1>Rules Builder</h1>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
            <tr>
                <td>Select Source</td>
                <td>
                    <select name="source_id" />
                        <option value="">Select Source</option>
                        {% for src in sources %}
                            <option value="{{ src._id }}">{{ src.url }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Or Paste URL</td>
                <td><input type="text" name="source_url"/></td>
            </tr>
            <tr>
                <td>Paste Rule</td>
                <td>
                    <textarea name="rules"></textarea>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <button id="preview-rule" class="btn btn-primary">Preview</button>
                    <button id="save-rule" class="btn btn-success">Save</button>
                </td>
            </tr>
        </table>
    </div>
    <h3>Preview</h3>
    <div id="preview-pane" style="height: 350px; width: 100%; overflow-y: scroll">
        <table class="table table-striped table-bordered">
        
        </table> 
    </div>
    
</div>
{% endblock %}
